<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fas fa-user"></i> Editar Cliente</h1>
      </div>
    </div>
  </div>
</header>

<form #customerForm="ngForm" (ngSubmit)="saveCustomer(customerForm)">
  <flash-messages></flash-messages>

  <!-- Buttons -->
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a routerLink="/" class="btn btn-light btn-block">
            <i class="fas fa-arrow-left"></i> Volver a Inicio
          </a>
        </div>

        <div class="col-md-3">
          <button type="submit" class="btn btn-success btn-block">
            <i class="fas fa-check"></i> Guardar Cliente
          </button>
        </div>

        <div class="col-md-3">
          <a href="#" (click)="removeCustomer()" class="btn btn-danger btn-block">
            <i class="fas fa-trash"></i> Eliminar Cliente
          </a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Editar Cliente</h4>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="name">Nombre</label>
                <input
                  type="text"
                  name="name"
                  id="nameInput"
                  class="form-control"
                  #name="ngModel"
                  [(ngModel)]="customer.name"
                  [ngClass]="{ 'is-invalid': name.errors && name.touched }"
                  required
                  minlength="3"
                />
                <div
                  [hidden]="!name.errors?.['required']"
                  class="invalid-feedback"
                >
                  Nombre es obligatorio
                </div>
                <div
                  [hidden]="!name.errors?.['minlength']"
                  class="invalid-feedback"
                >
                  La longitud minima es de tres caracteres
                </div>
              </div>

              <div class="form-group">
                <label for="surname">Apellido</label>
                <input
                  type="text"
                  name="surname"
                  id="surnameInput"
                  class="form-control"
                  #surname="ngModel"
                  [(ngModel)]="customer.surname"
                  [ngClass]="{
                    'is-invalid': surname.errors && surname.touched
                  }"
                  required
                  minlength="3"
                />
                <div
                  [hidden]="!surname.errors?.['required']"
                  class="invalid-feedback"
                >
                  Apellido es obligatorio
                </div>
                <div
                  [hidden]="!surname.errors?.['minlength']"
                  class="invalid-feedback"
                >
                  La longitud minima es de tres caracteres
                </div>
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  name="email"
                  id="emailInput"
                  class="form-control"
                  #email="ngModel"
                  [(ngModel)]="customer.email"
                  [ngClass]="{ 'is-invalid': email.errors && email.touched }"
                  required
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                />
                <div
                  [hidden]="!email.errors?.['required']"
                  class="invalid-feedback"
                >
                  Email es obligatorio
                </div>
                <div
                  [hidden]="!email.errors?.['pattern']"
                  class="invalid-feedback"
                >
                  Email incorrecto
                </div>
              </div>

              <div class="form-group">
                <label for="money">Saldo</label>
                <input
                  type="number"
                  name="money"
                  id="moneyInput"
                  class="form-control"
                  #money="ngModel"
                  [(ngModel)]="customer.money"
                  [ngClass]="{ 'is-invalid': money.errors && money.touched }"
                  required
                />
                <div
                  [hidden]="!money.errors?.['required']"
                  class="invalid-feedback"
                >
                  Saldo es obligatorio
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
